**/*.rs.bk
.#*
.gdb_history
Cargo.lock
target/

docs/
docs-test/

# editor files
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json.example
!.vscode/tasks.json
!.vscode/extensions.json
.vscode/

__pycache__
